


/*NavBar*/
.navbar {
  display: flex;
  flex-direction: row;
  background: black;
  height: 70px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

  .navbar-right {
      width: 300px;
      padding-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
       
      .links {
        color: white;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        padding: 20px;
        font-size: 1.3rem;
      }
  

    

/*Form*/
.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 460px;
  margin: auto 100px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  margin: 0;
  position: absolute;
  color: red;
}

input,
textarea {
  margin-top: 32px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}



button {
  max-width: 150px;
  margin: 32px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color:#138D75;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}


/*Display*/
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .ui.card {
  width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  }

  >.content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }
  >.content>.description {
      text-align: center;
  }
}

