.wrapper {
  text-align: center;
  background: #13171f;
  height: 100vh;

  header {
    background: linear-gradient(#282c34, #282c3400);
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: whitesmoke;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      color: whitesmoke;
    }
  }

}
